/* pages/index/recommend/fenrun/fenrun.wxss */
page {
  background-color: #f1f1f1;
}
.content {
  width: 100%;
  height: 100%;
}
.swiper-tab{
    width: 100%;
    border-bottom: 2rpx solid #ccc;
    text-align: center;
    height: 88rpx;
    line-height: 88rpx;
    display: flex;
    flex-flow: row;
    font-size: 14px;
    background-color: white;
    justify-content: space-between;
}
.swiper-tab-item{
    width: 30%; 
    color:#434343;
}
.active{
    color:#1E90FF;
    border-bottom: 4rpx solid #1E90FF;
}
/* view */
swiper{
  width: 100%;
  text-align: center;
  font-size: 14px;
}
/* 交易分润 */
.list-custom {
  margin-top: 10px;
  width: 100%;
  background-color: white;
}
.list-title1 {
  position: relative;
  display: flex;
  height: 30px;
  text-align: center;
}
.list-title {
  padding-top: 10px;
  position: relative;
  display: flex;
  height: 30px;
  text-align: center;
}
.title-left {
  width: 33%;
}
.title-center {
  width: 33%;
}
.title-right {
  width: 33%;
}
.list-bottom {
  color: #c0c0c0;
  margin-left: 30rpx;
  font-size: 13px;
}
/* 抵扣明细 */
.dc-list-bottom {
  width: 100%;
  background-color: white;
  position: relative;
  display: flex;
  font-size: 13px;
  color: #c0c0c0;
}
.bottom-order {
  flex: 1;
  text-align: left;
  margin-left: 30rpx;
}
.bottom-orderTime {
  text-align: right;
  margin-right: 30rpx;
}
.dc-title-right {
  width: 33%;
  color: red;
}
.dc-list-title {
  padding-top: 10px;
  position: relative;
  display: flex;
  height: 25px;
  text-align: center;  
}
.dc-list-title1 {
  position: relative;
  display: flex;
  height: 25px;
  text-align: center;
}
/* 提现记录 */
.tx-list-bottom {
  padding-top: 10px;
  position: relative;
  display: flex;
  font-size: 14px;
}
.tx-bottom-orderTime {
  margin-left: 30rpx;
  font-size: 13px;
  color: #c0c0c0;
  text-align: left;
  margin-top: 10px;
}
/* status */
.statusSuccess {
  color:darkgreen;
  text-align: right;
  margin-right: 30rpx;
}
.statusFail {
  color:darkorange;
  text-align: right;
  margin-right: 30rpx;
}
.statusF {
  color: red;
  text-align: right;
  margin-right: 30rpx;
}
.statusW{
  color: black;
  text-align: right;
  margin-right: 30rpx;
}