<!--pages/index/recommend/fenrun/fenrun.wxml-->
<wxs module="filters" src="../../mine/redPacket/addmul.wxs"></wxs>
<view class='content'>
  <view class="swiper-tab">
    <view class="swiper-tab-item {{currentTab==0?'active':''}}" data-current="0" bindtap="clickTab">交易分润</view>
    <view class="swiper-tab-item {{currentTab==1?'active':''}}" data-current="1" bindtap="clickTab">抵扣明细</view>
    <view class="swiper-tab-item {{currentTab==2?'active':''}}" data-current="2" bindtap="clickTab">提现记录</view>
</view>

  <swiper current="{{currentTab}}" style="height:{{radFRHeight}}px" duration="300"  bindchange="swiperTab">
    <swiper-item>
      <!-- 交易分润 -->
      <view class='list-custom' wx:for="{{tradFRArray}}" wx:for-index="idx" wx:for-item="itemName" data-bean='{{itemName}}'>
        <view>
          <view class='list-title'>
            <view class='title-left'>交易用户</view>
            <view class='title-center'>交易金额</view>
            <view class='title-right'>我的分润</view>
          </view>
          <view class='list-title1'> 
            <view class='title-left'>{{phone.toHide(itemName.mch_name)}}</view>
            <view class='title-center'>{{filters.toFix(filters.toNumber(itemName.trade_money))}}</view>
            <view class='title-right'>{{filters.toFix(filters.toNumber(itemName.back_money))}}</view>
          </view>
          <view class='list-bottom'>{{itemName.create_time}}</view>
        </view>
      </view>
    </swiper-item>
    <swiper-item>
        <!-- 抵扣明细 -->
        <view class='list-custom' wx:for="{{dkInfoArray}}" wx:for-index="idx" wx:for-item="itemName2" data-bean='{{itemName2}}'>
        <view>
          <view class='dc-list-title'>
            <view class='title-left'>交易金额</view>
            <view class='title-center'>手续费</view>
            <view class='title-right'>分润抵扣</view>
          </view>
          <view class='dc-list-title1'>
            <view class='title-left'>{{filters.toFix(filters.toNumber(itemName2.money))}}</view>
            <view class='title-center'>{{filters.toFix(filters.toNumber(itemName2.fee))}}</view>
            <view class='dc-title-right'>-{{filters.toFix(filters.toNumber(itemName2.deduction_fee))}}</view>
          </view>
          <view class='dc-list-bottom'>
            <view class='bottom-order'>订单编号: {{itemName2.trade_no}}</view>
            <view class='bottom-orderTime'>{{itemName2.trade_date}}</view>
          </view>
        </view>
      </view>
    </swiper-item>
    <swiper-item>
      <view>
        <!-- 提现记录 -->
        <view class='list-custom' wx:for="{{txJLArray}}" wx:for-index="idx" wx:for-item="itemName1" data-bean='{{itemName1}}'>
        <view>
          <view class='tx-list-bottom'>
            <view class='bottom-order'>提现金额</view>
            <view class='bottom-orderTime'>状态</view>
          </view>
          <view class='tx-list-bottom'>
            <view class='bottom-order'>-{{filters.toFix(filters.toNumber(itemName1.money))}}</view>
            <view class='statusSuccess' wx:if="{{itemName1.status == 1}}"> 成功 </view>
                <view class='statusW' wx:elif="{{itemName1.status == 0}}"> 未付 </view>
                <view class='statusF' wx:elif="{{itemName1.status == 2}}"> 失败 </view>
                <view class='statusFail' wx:elif="{{itemName1.status == 3}}"> 处理中 </view>
          </view>
          <view class='tx-bottom-orderTime'>{{itemName1.create_time}}</view>
        </view>
      </view>
      </view>
    </swiper-item>
  </swiper>
</view>
<wxs module="phone">
var toHide = function(array) {
  if(array.length > 2) {
    var mphone = array.substring(0, 1) + '*' + array.substring(2);
    return mphone;
  }else {
    var mphone = array.substring(0, 1) + '*';
    return mphone;
  }
}
module.exports.toHide = toHide;
</wxs>