<!--pages/index/register/register.wxml-->
<form bindsubmit="bindSave">
    <view class='form-box'>
      <view class='contetnt'>
          <view class="contetnt-name-label">手机号码</view>
        <input placeholder="请输入手机号" bindinput='getMobile' value='{{mobile}}'></input>
      </view>

      <view class='contetnt'>
        <view class="contetnt-name-label">验证码</view>
        <input name='yanCode' value='{{yanCode}}' placeholder="请输入验证码"></input>
        <button class='code' disabled='{{disabled}}' data-id="2" bindtap="getVerificationCode">{{time}}</button>
      </view>
    </view>
  <view class='container-bottom'>
    <button class="save-btn" formType="submit">下一步</button>
  </view>
  </form>

