/* pages/index/recommend/custom/custom.wxss */
page {
  background-color: #f1f1f1;
}
.content {
  width: 100%;
  height: 100%;
}
.content-header {
  width: 100%;
  padding-top: 10px;
  height: 220px;
  background-color: #1E90FF;
  flex-direction: column;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
/* header */
.header-top {
  border: 5px white dashed;
  color: white;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  text-align: center;
}
.top-title {
  color: yellow;
  font-size: 40px;
  margin-top: 15px;
  font-weight: bold;
}
.top-bottom {
  font-size: 14px;
  margin-top: 10px;
}
.header-center {
  margin-top: 20px;
  color: white;
  font-size: 14px;
}
.header-bottom {
  margin-top: 10px;
  color: white;
  font-size: 14px;
}
/* list */
.content-list {
  width: 100%;
  font-size: 14px;
  margin-top: 10px;
}
.content-line {
  margin-left: 0px;
  width: 100%;
  background-color: #cecece;
  height: 1px;
}
.list-title {
  position: relative;
  display: flex;
  text-align: center;
}
.title-left {
  width: 33%;
}
.title-center {
  width: 33%;
}
.title-right {
  width: 33%;
}
.title-right1 {
  width: 40%;
}
.list-list {
  width: 100%;
  font-size: 14px;
  margin-top: 10px;
}
.list-custom {
  width: 100%;
}
.content-bankInfo {
  position: relative;
  display: flex;
  height: 30px;
  text-align: center;
}