/* pages/index/bankList/bankList.wxss */
page {
  background-color: #f1f1f1;
}
.content {
  display:flex;
  height: 60px;
  background-color:white;
}
/* content-view */
.content-view {
  width: 100%;
  position: fixed;
}
.content-bankImage {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-top: 5px;
}
.content-bankInfo {
  margin-left: 70px;
  font-size: 14px;
  margin-top: 10px;
  color: grey;
}
.content-cancelBtn {
 margin-left: 80%;
 position: fixed;
}
.button1 {
  width: 60px;
  height: 30px;
  margin-top: 15px;
  font-size: 14px;
  color: gray;
}
.line {
  background-color: #f1f1f1;
  width: 100%;
  height: 1px;
  position: fixed;
}
.button2 {
  width: 100%;
  height: 50px;
  position: fixed;
  background-color: #1E90FF;
  color: white;
  bottom: 0rpx;
}
