/* pages/index/mine/redPacket/redPacket.wxss */
page {
  background-color: #f1f1f1;
}
.headerView {
  background-color: #1E90FF;
  width: 100%;
  height: 150px;
}
.titleView {
  margin-left: 30rpx;
  font-size: 17px;
  font-weight: bold;
  color: white;
}
.moneyView {
  margin-top: 10rpx;
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: white;
}
.tipsView {
  color: white;
  font-size: 14px;
  margin-left: 30rpx;
  margin-right: 30rpx;
  text-align: center;
}
/* content */
.content {
  width: 100%;
}
.content-view {
  /* background-color: white; */
  margin-top: 1px;
  margin-bottom: 9px;
  font-size: 14px;
}
.listViewCell {
  background-color: white;
  padding-top: 10rpx;
  padding-bottom: 10rpx;
  padding-left: 30rpx;
  position: relative;
  display: flex; 
}
.listViewCellLeft {
  flex: 1;
  color: #666666;
  font-size: 14px;
}
.listViewCellLeft-Money {
  flex: 1;
  color: #333333;
  font-size: 16px;
  font-weight: bold;
}
.listViewCellTradRight {
  margin-right: 30rpx;
  font-size: 13px;
  color: gray;
}
.listViewCellTradRight-red {
  color: #ff0000;
  font-size: 14px;
  margin-right: 30rpx;
}
.boldText {
  font-weight: bold;
  font-size: 15px;
}

.content-hb {
  background-color: white;
  padding-left: 30rpx;
  height: 50rpx;
  padding-top: 8rpx;
  margin-top: 10rpx;
  font-size: 14px;
  color: #333333;
}
/*  
page {
  background-color: #f1f1f1;
}
.headerView {
  background-color: #1E90FF;
  width: 100%;
  height: 150px;
}
.titleView {
  margin-left: 30rpx;
  font-size: 17px;
  font-weight: bold;
  color: white;
}
.moneyView {
  margin-top: 10rpx;
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: white;
}
.tipsView {
  color: white;
  font-size: 14px;
  margin-left: 30rpx;
  margin-right: 30rpx;
  text-align: center;
}

.content {
  width: 100%;
}
.content-view {
  margin-top: 10px;
  font-size: 14px;
}
.listViewCell {
  margin-top: 1px;
  background-color: white;
  padding-top: 10rpx;
  padding-bottom: 10rpx;
  padding-left: 30rpx;
  position: relative;
  display: flex; 
}
.listViewCellLeft {
  flex: 1;
}
.listViewCellTradRight {
  margin-right: 30rpx;
  font-size: 13px;
  color: gray;
}
.listViewCellTradRight-red {
  color: red;
  margin-right: 30rpx;
}
.boldText {
  font-weight: bold;
  font-size: 15px;
}
*/