<!--pages/order/orderList/orderList.wxml-->
<view class='content'>
  <view class='content-hdeader'>
    <view class='content-headerView'>
      <view class='header-title'>{{currDate}}</view>
      <view class='header-money'>{{currDate}} 累计收款¥ {{allMoney}} 今日收款¥ {{dailyMoney}}</view>
    </view>
    <view>
      <picker mode="date" value="{{date}}" bindchange="bindDateChange" fields="month"
    >
     <image src='../resource/images/data.png'> </image>
    </picker>
    </view>
    
  </view>
  
  <view class="container" style="padding:0rpx">
   <!--垂直滚动，这里必须设置高度-->
     <scroll-view scroll-top="{{scrollTop}}" scroll-y="true" style="height:{{scrollHeight}}px;" class="list"  bindscrolltolower="bindDownLoad" bindscrolltoupper="topLoad"  bindscroll="scroll">
          <view class="item"  bindtap='chooseCell' wx:for="{{dataArray}}" data-bean='{{item}}'>
              <view class='orderInfo'>
                <view class='orderID'>{{item.trade_no}}</view>
                <view class='statusSuccess' wx:if="{{item.status == 1}}"> [成功] </view>
                <view class='statusW' wx:elif="{{item.status == 0}}"> [未付] </view>
                <view class='statusF' wx:elif="{{item.status == 2}}"> [失败] </view>
                <view class='statusFail' wx:elif="{{item.status == 3}}"> [处理中] </view>
                <!-- <view class='statusF' wx:elif="{{item.status == 4}}"> [失败] </view>
                <view class='statusSuccess' wx:elif="{{item.status == 5}}"> [交易完成] </view>
                <view class='statusF' wx:elif="{{item.status == 6}}"> [交易失败] </view>
                <view class='statusF' wx:elif="{{item.status == 7}}"> [交易失败] </view> -->
                <view class='statusFail' wx:else > [{{item.result_message}}] </view>
                <view class='orderTime'>{{item.created_time}}</view>
              </view>
              <view class="money">¥{{item.total_fee}}
             </view>
         </view>
     </scroll-view>
     <view class="loading" hidden="{{!searchLoading}}">正在载入更多...</view>
      <view class="loading complete" hidden="{{!searchLoadingComplete}}">已加载全部</view>
 </view>
</view>
