/* pages/index/myInfo/myInfo.wxss */
page {
  background-color: #f1f1f1;
}
.content {
  width: 100%;
  height: 100%;
  
}
/* content-list */
.content-list {
  width: 100%;
  height: 308px;
  margin-top: 10px;
}

.list-mine {
  height: 43px;
  background-color: white;
  margin-top: 1px;
  position: relative;
  display: flex;
}
.mine-label {
  font-size: 14px;
  flex: 1;
  margin-left: 30rpx;
  padding-top: 12px;
}
.mine-info {
  font-size: 14px;
  width: 200px;
  text-align: right;
  margin-right: 30rpx;
  padding-top: 12px;
}