/* pages/index/recommend/myFR/deposit.wxss */
page {
  background-color: #f1f1f1;
}
.content {
  width: 100%;
  height: 100%;
}
.header-title {
  width: 100%;
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
  color: #FF9966;
  font-weight: bold;
}
.header-line {
  margin-top: 10px;
  height: 1px;
  background-color: #c0c0c0;
  margin-left: 60rpx;
  margin-right: 60rpx;
}
.container-bottom {
  width: 100%;
  height: 50px;
  position: fixed;
  background-color: #1E90FF;
  bottom: 0rpx;
}
.save-btn {
  width: 100%;
  margin-bottom: 0;
  height: 50px;
  margin-left: orpx;
  background-color: #1E90FF;
  color: white;
}
/* center */
.content-center {
  font-size: 14px;
  margin-top: 20px;
  margin-left: 100rpx;
}
.center-label {
  margin-top: 15px;
}
.center-label-bottom {
  margin-top: 15px;
  position: relative;
  display: flex; 
}
.center-input {
  margin-left: 10px;
  width: 110px;
  text-align: center;
  border-bottom: solid #c0c0c0 1px;
}
.content-bottom {
  margin-top: 20px;
  margin-left: 30rpx;
  margin-right: 30rpx;
  font-size: 12px;
  color: gray;
}


.toast-box {
    width: 100%;
    height: 100%;
    opacity: 1;
    position: fixed;
    top: 0px;
    left: 0px;
}
 
.toastbg {
    opacity: 0.2;
    background-color: black;
    position: absolute;
    width: 100%;
    min-height: 100vh;
}
 
.showToast {
    position: absolute;
    opacity: 1;
    width: 70%;
    margin-left: 15%;
    margin-top: 40%;
}
 
.toast-title {
    padding-left: 5%;
    background-color: #2196f3;
    color: white;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-top-right-radius: 16rpx;
    border-top-left-radius: 16rpx;
}
 
.toast-main {
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: white;
    text-align: center;
}
 
.toast-input {
    font-size: 14px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
 
.toast-button {
    display: flex;
}
 
.button1 {

    width: 50%;
}
 
.button2 {
    width: 50%;
}
 
.button1 button {
    width: 100%;
    background-color: white;
    color: red;
    border-radius: 0px;
    border-bottom-left-radius: 16rpx;
}
 
.button2 button{
    width: 100%;
    background-color: white;
    color: black;
    border-radius: 0px;
    border-bottom-right-radius: 16rpx;
}
 