/* pages/index/recommend/myFR/myFR.wxss */
page {
  background-color: #f1f1f1;
}
.content {
  width: 100%;
  height: 100%;
}
/* header */
.content-header {
  width: 100%;
  height: 110px;
  background-color: #1E90FF;
  text-align: center;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  color: white;
}
.header-leftView {
  margin-top: 10px;
  flex: 1;
  text-align: center;
}
.header-line {
  margin-top: 10px;
  background-color: #c6c6c6;
  width: 1px;
  height: 50px;
}
.header-title {
  margin-top: 10px;
}

/* center */
.content-center {
  width: 100%;
}
.center-title {
  margin-left: 30rpx;
  margin-top: 30rpx;
  font-size: 14px;
  font-weight: bold;
}
.center-money {
  color: #1E90FF;
  text-align: center;
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
}
.center-bottom {
  color: #FF9966;
  margin-top: 10px;
  margin-right: 30rpx;
  margin-left: 30rpx;
  font-size: 12px;
}
.content-line {
  margin-top: 30px;
  background-color: #c0c0c0;
  margin-left: 30rpx;
  margin-right: 30rpx;
  height: 1px;
}
.content-bottom {
  width: 100%;
}
.center-money-button {
  width: 150px;
  
}
.font-co {
  color: black;
}