<!--pages/index/certification/certification.wxml-->
<view class='content-view'>
  <view class='contetnt'>
    <view class="contetnt-name-label">上传身份证正面照片</view>
    <button bindtap='uploadMaterial' id='1' class='content-btn'>点击这里上传图片</button>
    <view class='contetnt-Status' hidden='{{select1}}'>上传成功</view>
  </view>

  <view class='contetnt'>
    <view class="contetnt-name-label" >上传身份证反面照片</view>
    <button bindtap='uploadMaterial' id='2' class='content-btn'>点击这里上传图片</button>
    <view class='contetnt-Status' hidden='{{select2}}'>上传成功</view>
  </view>

  <view class='contetnt'>
    <view class="contetnt-name-label">上传借记卡正面照片</view>
    <button bindtap='uploadMaterial' id='3' class='content-btn'>点击这里上传图片</button>
    <view class='contetnt-Status' hidden='{{select3}}'>上传成功</view>
  </view>

  <view class='contetnt'>
    <view class="contetnt-name-label">上传借记卡反面照片</view>
    <button bindtap='uploadMaterial' id='4' class='content-btn'>点击这里上传图片</button>
    <view class='contetnt-Status' hidden='{{select4}}'>上传成功</view>
  </view>

  <view class='contetnt'>
    <view class="contetnt-name-label">上传手持身份证照片</view>
    <button bindtap='uploadMaterial' id='5' class='content-btn'>点击这里上传图片</button>
    <view class='contetnt-Status' hidden='{{select5}}'>上传成功</view>
  </view>

  <view class='container-bottom'>
    <button class="save-btn" bindtap='nextClick'>下一步</button>
  </view>
</view>
